<!-- begin tutorial_seo.html -->
<meta property="og:description" content="Keikai is a Java spreadsheet component that brings Excel-like functionalities to your Web application. Best for converting Excel to web, DB integration, reporting and collaboration.">
<meta name="description" content="Keikai is a Java spreadsheet component that brings Excel-like functionalities to your Web application. Best for converting Excel to web, DB integration, reporting and collaboration.">

<!-- end tutorial_seo/seo.html -->
